# Change if you want this site to be accessible at a different port.
# WEB_PORT=81

# XDebug defaults to Off in the drupal container (IDEKEY=PHPSTORM, Port 9000).
#
# Uncomment to enable XDebug.
# XDEBUG_ENABLE=1
#
# Specify a remote_host (only needed for Windows & Linux hosts).
# XDEBUG_CONFIG=remote_host=docker.for.mac.localhost